Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Improve CSV import: better encoding detection and additional header support
  CMakeLists.txt
  CsvParser.h
  FileController.cpp
  tests/FileControllerTest.cpp
  tests/import1.csv
  tests/import2.csv
  tests/money.csv
Due: clang-format, check-translations

Rework Operation Editing
  BudgetData.cpp
  BudgetData.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationView.qml
Due: clang-format, qmlformat, check-translations

Recall window size and position
  AppSettings.cpp
  AppSettings.h
  Main.qml
Due: clang-format, qmlformat, check-translations

Add operations manually
  BudgetData.cpp
  BudgetData.h
  Main.qml
  Operation.cpp
  Operation.h
  OperationEditDialog.qml
  OperationView.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Operation can have multiple allocations to the same category
  OperationEditDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Use string list for header matching
  CsvParser.h
Due: clang-format, check-translations

Operation description changed to label
  Account.cpp
  Account.h
  BudgetData.cpp
  BudgetData.h
  CategorizationRule.cpp
  CategorizationRule.h
  CategorizeDialog.qml
  CategoryController.cpp
  CategoryDetailView.qml
  CsvParser.h
  FileController.cpp
  NavigationController.cpp
  NavigationController.h
  Operation.cpp
  Operation.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationListModel.cpp
  OperationListModel.h
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  RuleListModel.cpp
  RuleListModel.h
  RulesView.qml
  UndoCommands.cpp
  UndoCommands.h
  tests/CsvParserTest.cpp
  tests/FileControllerTest.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Add tests on comptine files
  CMakeLists.txt
  tests/FileControllerTest.cpp
  tests/example.comptine
Due: clang-format, check-translations

Add operation details
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CsvParser.h
  FileController.cpp
  Operation.cpp
  Operation.h
  OperationDetails.qml
  OperationEditDialog.qml
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
  tests/old.comptine
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Handle money CSV export files
  CMakeLists.txt
  FileController.cpp
  tests/FileControllerTest.cpp
  tests/money2.csv
Due: clang-format, check-translations

Simpler allocation management
  Account.cpp
  BudgetData.cpp
  BudgetData.h
  CategorizeDialog.qml
  CategoryController.cpp
  FileController.cpp
  Operation.cpp
  Operation.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationListModel.cpp
  OperationListModel.h
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
  tests/example.comptine
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Focus unaffected category combo box
  OperationEditDialog.qml
Due: qmlformat, check-translations

Fix minor typo on RulesView.qml
  RulesView.qml
Due: qmlformat, check-translations

Merge CategorizeDialog into OperationEditDialog
  CMakeLists.txt
  CategorizeDialog.qml
  Main.qml
  OperationEditDialog.qml
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  RulesView.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Move LeftoverDialog inside MonthCategoryItem
  BudgetView.qml
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  LeftoverDialog.qml
  LeftoverListModel.cpp
  LeftoverListModel.h
  MonthCategoryItem.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Create MonthCategoryItem.qml
  BudgetView.qml
  CMakeLists.txt
  MonthCategoryItem.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Fix MonthCategoryItem disable logic
  MonthCategoryItem.qml
Due: qmlformat, check-translations

Allow to change budget limit for the next months
  BudgetView.qml
  CMakeLists.txt
  Category.cpp
  Category.h
  CategoryController.cpp
  CategoryController.h
  CategoryEditDialog.qml
  FEATURES.md
  FileController.cpp
  MonthCategoryItem.qml
  UndoCommands.cpp
  UndoCommands.h
  long_example.comptine
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Improve leftover calculation
  BudgetProgress.qml
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  MonthCategoryItem.qml
Due: clang-format, qmlformat, check-translations

Remove translation pre commit check
  .pre-commit-config.yaml
Due: none

Create operation counter part fix #20
  Account.cpp
  Account.h
  AccountComboBox.qml
  AccountListModel.cpp
  AccountListModel.h
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryDetailView.qml
  CreateCounterPartDialog.qml
  FileController.cpp
  ImportDialog.qml
  NavigationController.cpp
  NavigationController.h
  Operation.cpp
  Operation.h
  OperationEditDialog.qml
  OperationListModel.cpp
  OperationListModel.h
  OperationView.qml
  tests/FileControllerTest.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Improve BaseDialog with flexible button configuration and validation
  AboutDialog.qml
  BaseDialog.qml
  CMakeLists.txt
  CategoryDetailView.qml
  CategoryEditDialog.qml
  ImportDialog.qml
  OperationEditDialog.qml
  OperationView.qml
  PreferencesDialog.qml
  RenameAccountDialog.qml
  RuleEditDialog.qml
  RulesView.qml
  UpdateDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Improve logger
  CMakeLists.txt
  main.cpp
Due: clang-format, check-translations

Improve date input fix #21
  CMakeLists.txt
  DateInput.qml
  DateSpinBox.qml
  OperationEditDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Fix encoding issue with big CSV files
  FileController.cpp
Due: clang-format, check-translations

Delete selected operation from the Edit menu fix #23
  BudgetData.cpp
  BudgetData.h
  Main.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Delete category
  BudgetData.cpp
  BudgetData.h
  Main.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Reduce the use of QVariantList for allocations.
  BudgetData.cpp
  FileController.cpp
  Operation.cpp
  Operation.h
  OperationDetails.qml
  OperationEditDialog.qml
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations
