Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

clang-format:
  name: clang-format
  entry: uv run clang-format -i
  language: system

qmlformat:
  name: qmlformat
  entry: qmlformat -i
  language: system

check-translations:
  name: check translations complete
  entry: ./scripts/check-translations.sh
  language: script
  pass_filenames: false

Remove translation pre commit check
  .pre-commit-config.yaml
Due: none

Allow to change budget limit for the next months
  BudgetView.qml
  CMakeLists.txt
  Category.cpp
  Category.h
  CategoryController.cpp
  CategoryController.h
  CategoryEditDialog.qml
  FEATURES.md
  FileController.cpp
  MonthCategoryItem.qml
  UndoCommands.cpp
  UndoCommands.h
  long_example.comptine
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Merge CategorizeDialog into OperationEditDialog
  CMakeLists.txt
  CategorizeDialog.qml
  Main.qml
  OperationEditDialog.qml
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  RulesView.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Improve date input fix #21
  CMakeLists.txt
  DateInput.qml
  DateSpinBox.qml
  OperationEditDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Delete category
  BudgetData.cpp
  BudgetData.h
  Main.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Improve logger
  CMakeLists.txt
  main.cpp
Due: clang-format, check-translations

Create MonthCategoryItem.qml
  BudgetView.qml
  CMakeLists.txt
  MonthCategoryItem.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Create operation counter part fix #20
  Account.cpp
  Account.h
  AccountComboBox.qml
  AccountListModel.cpp
  AccountListModel.h
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryDetailView.qml
  CreateCounterPartDialog.qml
  FileController.cpp
  ImportDialog.qml
  NavigationController.cpp
  NavigationController.h
  Operation.cpp
  Operation.h
  OperationEditDialog.qml
  OperationListModel.cpp
  OperationListModel.h
  OperationView.qml
  tests/FileControllerTest.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Focus unaffected category combo box
  OperationEditDialog.qml
Due: qmlformat, check-translations

Fix minor typo on RulesView.qml
  RulesView.qml
Due: qmlformat, check-translations

Simpler allocation management
  Account.cpp
  BudgetData.cpp
  BudgetData.h
  CategorizeDialog.qml
  CategoryController.cpp
  FileController.cpp
  Operation.cpp
  Operation.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationListModel.cpp
  OperationListModel.h
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
  tests/example.comptine
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Improve leftover calculation
  BudgetProgress.qml
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  MonthCategoryItem.qml
Due: clang-format, qmlformat, check-translations

Improve BaseDialog with flexible button configuration and validation
  AboutDialog.qml
  BaseDialog.qml
  CMakeLists.txt
  CategoryDetailView.qml
  CategoryEditDialog.qml
  ImportDialog.qml
  OperationEditDialog.qml
  OperationView.qml
  PreferencesDialog.qml
  RenameAccountDialog.qml
  RuleEditDialog.qml
  RulesView.qml
  UpdateDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Fix encoding issue with big CSV files
  FileController.cpp
Due: clang-format, check-translations

Apply rules to existing uncategorized operations at creation time
  FEATURES.md
  OperationEditDialog.qml
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Add amount criteria to categorization rules fix #19
  CategorizationRule.cpp
  CategorizationRule.h
  FileController.cpp
  OperationEditDialog.qml
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  RuleListModel.cpp
  RuleListModel.h
  RulesView.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Rename CategorizationRule to Rule
  CMakeLists.txt
  FileController.cpp
  Rule.cpp
  Rule.h
  RuleController.cpp
  RuleController.h
  RuleListModel.cpp
  RuleListModel.h
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

Multiple file import fix #22
  Account.cpp
  Account.h
  BudgetData.cpp
  BudgetData.h
  FEATURES.md
  FileController.cpp
  ImportDialog.qml
  Main.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Format cmake files with gersemi
  .gersemirc
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  pyproject.toml
  uv.lock
Due: none

Use Qt 6.10.2
  .qt-version
Due: none

[ci] Cache Qt
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

Replace rapidyaml with yaml-cpp using conan for dependency management.
  .github/workflows/build.yml
  .gitignore
  AGENTS.md
  CMakeLists.txt
  FileController.cpp
  conanfile.py
  pyproject.toml
  tests/FileControllerTest.cpp
  uv.lock
Due: clang-format, check-translations

Fix date picker auto close
  DateInput.qml
Due: qmlformat, check-translations

Avoid using QVariantList for allocations
  BudgetData.cpp
  BudgetData.h
  OperationEditDialog.qml
Due: clang-format, qmlformat, check-translations

Use resvg-py and pillow to generate icons from SVGs on all platforms
  .github/workflows/build.yml
  CMakeLists.txt
  pyproject.toml
  scripts/generate_icon.py
  uv.lock
Due: none

Improve QML integration by declaring libComptine as a QML module
  .github/workflows/build.yml
  AboutDialog.qml
  AccountComboBox.qml
  AmountField.qml
  AppSettings.cpp
  AppSettings.h
  AppState.h
  BalanceHeader.qml
  BaseDialog.qml
  BudgetData.h
  BudgetView.qml
  CMakeLists.txt
  CategoryController.h
  CategoryDetailView.qml
  CategoryEditDialog.qml
  ClipboardController.h
  DateInput.qml
  DateLabel.qml
  FileController.h
  ImportDialog.qml
  Main.qml
  MonthCategoryItem.qml
  NavigationController.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationList.qml
  OperationView.qml
  PreferencesDialog.qml
  RenameAccountDialog.qml
  RuleEditDialog.qml
  RuleListModel.h
  RulesView.qml
  Theme.qml
  UndoCommands.h
  UpdateController.h
  UpdateDialog.qml
Due: clang-format, qmlformat, check-translations

Remove AmountField liveEdited signal to simplify BaseDialog
  AmountField.qml
  BaseDialog.qml
  MonthCategoryItem.qml
  OperationEditDialog.qml
Due: qmlformat, check-translations

Inject Qt version into CMAKE_PREFIX_PATH
  conanfile.py
Due: none

[ci] Move WIP/fixup commit check to end of lint workflow
  .github/workflows/lint.yml
Due: none

Focus category name field when creating a new category
  CategoryEditDialog.qml
Due: qmlformat, check-translations

Display total expense and income in budget view
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  Theme.qml
  UndoCommands.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Move deleteCategory to CategoryController
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  Main.qml
Due: clang-format, qmlformat, check-translations

Add discard buttons to leftover and report sections
  MonthCategoryItem.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Rework month category item layout
  MonthCategoryItem.qml
Due: qmlformat, check-translations

Include current month in the accumulated leftover calculation
  Category.cpp
  tests/CategoryTest.cpp
Due: clang-format, check-translations

Rework CategoryController::setLeftoverAmounts()
  CategoryController.cpp
  CategoryController.h
  MonthCategoryItem.qml
Due: clang-format, qmlformat, check-translations

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  qmlformat: any of: \.qml$
  check-translations: any of: \.(qml|cpp|h|ts)$
