Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Increase window size for screenshot capture
  example_long.comptine
  scripts/capture-screenshots.sh
Due: none

Fix category clearing
  AppState.cpp
  BudgetData.cpp
  BudgetData.h
  FileController.cpp
Due: clang-format, check-translations

Add cash csv
  CsvParser.h
  tests/CsvParserTest.cpp
Due: clang-format, check-translations

Relative width for OperationDetails
  OperationView.qml
Due: qmlformat, check-translations

Display categories in the operation list
  OperationDelegate.qml
Due: qmlformat, check-translations

Undoing import in a new account removes the account
  BudgetData.cpp
  BudgetData.h
  FileController.cpp
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, check-translations

Add missing categories from operations during file load/import
  FileController.cpp
  FileController.h
Due: clang-format, check-translations

Sorting category use proper locale-aware collation
  CategoryController.cpp
Due: clang-format, check-translations

Allow jekyll to deploy on tag too
  .github/workflows/jekyll-gh-pages.yml
Due: none

White screen during redirect
  docs/index.md
Due: none

Clicking the screenshot images opens them bigger.
  docs/_includes/screenshot.html
  docs/_layouts/default.html
  docs/assets/css/style.css
Due: none

Adapt the button styles in CSS to use gradient colors from the logo
  docs/assets/css/style.css
Due: none

Leftover budget management feature
  .github/workflows/build.yml
  AmountField.qml
  BudgetView.qml
  CMakeLists.txt
  Category.cpp
  Category.h
  CategoryController.cpp
  CategoryController.h
  FEATURES.md
  FileController.cpp
  LeftoverDialog.qml
  LeftoverListModel.cpp
  LeftoverListModel.h
  UndoCommands.cpp
  UndoCommands.h
  long_example.comptine
  scripts/capture-screenshots.sh
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Add check that no work in progress commits are present in PRs.
  .github/workflows/lint.yml
Due: none

Update website features to include budget leftover management
  docs/en/features.md
  docs/fr/features.md
Due: none

Remove clangd LSP configuration replaced by compile_commands.json symlink
  .gitignore
  .opencode/opencode.jsonc
Due: none

Categorizations rules feature implementation
  AppState.cpp
  AppState.h
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategorizationRule.cpp
  CategorizationRule.h
  CategorizeDialog.qml
  FileController.cpp
  FileController.h
  Main.qml
  RuleController.cpp
  RuleController.h
  RuleEditDialog.qml
  RuleListModel.cpp
  RuleListModel.h
  RulesView.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Allow to top up negative leftover to zero by carrying forward deficit
  LeftoverDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Use the CSV filename as the default new account name
  ImportDialog.qml
Due: qmlformat, check-translations

Fix download links
  docs/_config.yml
  docs/_includes/download-card.html
  docs/_layouts/download.html
  docs/fr/download.md
Due: none

Reorder download MacOS / Windows / Linux and macOS -> MacOS
  .github/workflows/build.yml
  AGENTS.md
  CMakeLists.txt
  FileController.cpp
  FileCoordinator.h
  README.md
  docs/_config.yml
  docs/en/download.md
  docs/fr/download.md
  scripts/capture-screenshots.sh
Due: clang-format, check-translations

[website] Centered feature icons
  docs/assets/css/style.css
Due: none

Add category
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  CategoryEditDialog.qml
  Main.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Use url instead of file path
  FileController.cpp
  FileController.h
  Main.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Factorize applyCategoryAndNext function in CategorizeDialog.qml
  CategorizeDialog.qml
Due: qmlformat, check-translations

No maximum for rule prefix length
  CategorizeDialog.qml
Due: qmlformat, check-translations

[refacto] QUndoStack belong to AppState
  AmountField.qml
  AppState.cpp
  AppState.h
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  FileController.cpp
  FileController.h
  Main.qml
  RuleController.cpp
  RuleController.h
Due: clang-format, qmlformat, check-translations

[refactor] Remove unused QObject parent parameters from controllers
  AppSettings.cpp
  AppSettings.h
  AppState.cpp
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  ClipboardController.cpp
  ClipboardController.h
  FileController.cpp
  FileController.h
  NavigationController.cpp
  NavigationController.h
  RuleController.cpp
  RuleController.h
  UpdateController.cpp
  UpdateController.h
Due: clang-format, check-translations

[refacto] Pass BudgetData references to controllers
  AppState.cpp
  CategoryController.cpp
  CategoryController.h
  NavigationController.cpp
  NavigationController.h
  RuleController.cpp
  RuleController.h
Due: clang-format, check-translations
