Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Remove unused QVariantMap methods related to leftover decisions
  CategoryController.cpp
  CategoryController.h
Due: clang-format, check-translations

Rework CategoryEditDialog
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  CategoryEditDialog.qml
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Update github actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

Reload file when exteranl modification is detected
  FileController.cpp
  FileController.h
  Main.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Rework CategoryController::setLeftoverAmounts()
  CategoryController.cpp
  CategoryController.h
  MonthCategoryItem.qml
Due: clang-format, qmlformat, check-translations

Use resvg-py and pillow to generate icons from SVGs on all platforms
  .github/workflows/build.yml
  CMakeLists.txt
  pyproject.toml
  scripts/generate_icon.py
  uv.lock
Due: none

Move deleteCategory to CategoryController
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  Main.qml
Due: clang-format, qmlformat, check-translations

Fix date picker auto close
  DateInput.qml
Due: qmlformat, check-translations

Focus category name field when creating a new category
  CategoryEditDialog.qml
Due: qmlformat, check-translations

Improve QML integration by declaring libComptine as a QML module
  .github/workflows/build.yml
  AboutDialog.qml
  AccountComboBox.qml
  AmountField.qml
  AppSettings.cpp
  AppSettings.h
  AppState.h
  BalanceHeader.qml
  BaseDialog.qml
  BudgetData.h
  BudgetView.qml
  CMakeLists.txt
  CategoryController.h
  CategoryDetailView.qml
  CategoryEditDialog.qml
  ClipboardController.h
  DateInput.qml
  DateLabel.qml
  FileController.h
  ImportDialog.qml
  Main.qml
  MonthCategoryItem.qml
  NavigationController.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationList.qml
  OperationView.qml
  PreferencesDialog.qml
  RenameAccountDialog.qml
  RuleEditDialog.qml
  RuleListModel.h
  RulesView.qml
  Theme.qml
  UndoCommands.h
  UpdateController.h
  UpdateDialog.qml
Due: clang-format, qmlformat, check-translations

Use Qt 6.10.2
  .qt-version
Due: none

Avoid using QVariantList for allocations
  BudgetData.cpp
  BudgetData.h
  OperationEditDialog.qml
Due: clang-format, qmlformat, check-translations

Display total expense and income in budget view
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  Theme.qml
  UndoCommands.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Include current month in the accumulated leftover calculation
  Category.cpp
  tests/CategoryTest.cpp
Due: clang-format, check-translations

[ci] Move WIP/fixup commit check to end of lint workflow
  .github/workflows/lint.yml
Due: none

Replace rapidyaml with yaml-cpp using conan for dependency management.
  .github/workflows/build.yml
  .gitignore
  AGENTS.md
  CMakeLists.txt
  FileController.cpp
  conanfile.py
  pyproject.toml
  tests/FileControllerTest.cpp
  uv.lock
Due: clang-format, check-translations

Inject Qt version into CMAKE_PREFIX_PATH
  conanfile.py
Due: none

Format cmake files with gersemi
  .gersemirc
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  pyproject.toml
  uv.lock
Due: none

[ci] Cache Qt
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

Rework month category item layout
  MonthCategoryItem.qml
Due: qmlformat, check-translations

Remove AmountField liveEdited signal to simplify BaseDialog
  AmountField.qml
  BaseDialog.qml
  MonthCategoryItem.qml
  OperationEditDialog.qml
Due: qmlformat, check-translations

Add discard buttons to leftover and report sections
  MonthCategoryItem.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Bump to Qt 6.10.3
  .qt-version
Due: none

Fix bug where the combobox account wasn't updated when loading a new file
  NavigationController.cpp
Due: clang-format, check-translations

Add budget balance progress
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Use prefix for account file import
  Account.cpp
  Account.h
  BudgetData.cpp
  FileController.cpp
Due: clang-format, check-translations

Automatically apply change when creating a counter part
  OperationEditDialog.qml
Due: qmlformat, check-translations

Bump gersemi to 0.27.7
  pyproject.toml
  uv.lock
Due: none

Add .qtcreator/ to .gitignore
  .gitignore
Due: none

Create counter part on one category only
  BudgetData.cpp
  BudgetData.h
  CreateCounterPartDialog.qml
  Operation.cpp
  Operation.h
  OperationEditDialog.qml
  OperationList.qml
  OperationView.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Use aqtinstall from pip
  .github/workflows/build.yml
  pyproject.toml
  uv.lock
Due: none

Allow removing import files
  ImportDialog.qml
Due: qmlformat, check-translations

Improve OperationList to use ListView as root instead of FocusScope
  Account.cpp
  Account.h
  ApplicationMenuBar.qml
  operations/OperationList.qml
  operations/OperationView.qml
Due: clang-format, qmlformat, check-translations

Move menu to ApplicationMenuBar.qml
  ApplicationMenuBar.qml
  CMakeLists.txt
  Main.qml
Due: qmlformat, check-translations

Move qml in budget and operations folder
  .github/workflows/build.yml
  .gitignore
  .qmlls.ini
  AboutDialog.qml
  AccountComboBox.qml
  CMakeLists.txt
  FileController.cpp
  ImportDialog.qml
  Main.qml
  PreferencesDialog.qml
  UpdateDialog.qml
  budget/BudgetProgress.qml
  budget/BudgetView.qml
  budget/CMakeLists.txt
  budget/CategoryDetailView.qml
  budget/CategoryEditDialog.qml
  budget/MonthCategoryItem.qml
  commonui/AmountField.qml
  commonui/BaseDialog.qml
  commonui/CMakeLists.txt
  commonui/DateLabel.qml
  commonui/Theme.qml
  operations/AccountComboBox.qml
  operations/BalanceHeader.qml
  operations/CMakeLists.txt
  operations/CreateCounterPartDialog.qml
  operations/DateInput.qml
  operations/OperationDelegate.qml
  operations/OperationDetails.qml
  operations/OperationEditDialog.qml
  operations/OperationList.qml
  operations/OperationView.qml
  operations/RenameAccountDialog.qml
  rules/CMakeLists.txt
  rules/RuleEditDialog.qml
  rules/RulesView.qml
  scripts/check-translations.sh
Due: clang-format, qmlformat, check-translations

Improve category editing logic
  CategoryController.cpp
  UndoCommands.cpp
  UndoCommands.h
  budget/BudgetView.qml
  budget/CategoryEditDialog.qml
  tests/CategoryTest.cpp
Due: clang-format, qmlformat, check-translations
