Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Improve AGENTS.md architecture decision
  AGENTS.md
Due: none

Update AGENTS.md to use presets
  AGENTS.md
Due: none

Generate .qmlls.ini
  .qmlls.ini
  conanfile.py
Due: none

Simpler undo commands
  BudgetData.cpp
  CategoryController.cpp
  RuleController.cpp
  RuleController.h
  UndoCommands.cpp
  UndoCommands.h
Due: clang-format, check-translations

Use auto + improve memory management
  Account.cpp
  Account.h
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  FileController.cpp
  FileCoordinator.mm
  ImportDialog.qml
  Operation.cpp
  Operation.h
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  operations/AccountComboBox.qml
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Improve CMake tests setup
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

Use Qt native fallback for FileCoordinator.mm
  FileCoordinator.mm
Due: none

Add editors
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  Foreigners.h
  ImportDialog.qml
  Main.qml
  RuleController.cpp
  RuleController.h
  UndoCommands.cpp
  budget/BudgetView.qml
  budget/MonthCategoryItem.qml
  editors/AccountEditor.cpp
  editors/AccountEditor.h
  editors/CategoryEditor.cpp
  editors/CategoryEditor.h
  editors/ImportEditor.cpp
  editors/ImportEditor.h
  editors/OperationEditor.cpp
  editors/OperationEditor.h
  editors/RuleEditor.cpp
  editors/RuleEditor.h
  main.cpp
  operations/OperationEditDialog.qml
  operations/RenameAccountDialog.qml
  rules/RuleEditDialog.qml
  rules/RulesView.qml
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
  tests/RuleTest.cpp
Due: clang-format, qmlformat, check-translations

Fix translations
  translations/comptine_fr.ts
Due: check-translations

Update AGENTS.md git operation
  AGENTS.md
Due: none

Rework OperationEditDialog
  app/EditMenu.qml
  app/Main.qml
  editor/OperationEditor.cpp
  editor/OperationEditor.h
  model/Account.cpp
  model/Operation.cpp
  model/Operation.h
  services/UndoCommands.cpp
  tests/CategoryTest.cpp
  ui/operations/DateInput.qml
  ui/operations/OperationDetails.qml
  ui/operations/OperationEditDialog.qml
  ui/operations/OperationView.qml
Due: clang-format, qmlformat, check-translations

Add rule unit tests
  tests/CMakeLists.txt
  tests/RuleTest.cpp
Due: clang-format, check-translations

Introduce model
  AppSettings.h
  AppState.h
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  ClipboardController.cpp
  FileController.cpp
  FileController.h
  RuleController.cpp
  RuleController.h
  RuleListModel.cpp
  UndoCommands.cpp
  UndoCommands.h
  UpdateController.h
  model/Account.cpp
  model/Account.h
  model/CMakeLists.txt
  model/Category.cpp
  model/Category.h
  model/Operation.cpp
  model/Operation.h
  model/PropertyMacros.h
  model/Rule.cpp
  model/Rule.h
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
  tests/RuleTest.cpp
Due: clang-format, check-translations

Add code coverage
  .github/workflows/coverage.yml
  CMakeLists.txt
  README.md
  codecov.yml
Due: none

Add evolution view
  CMakeLists.txt
  FEATURES.md
  app/CMakeLists.txt
  app/Main.qml
  app/ViewMenu.qml
  app/main.cpp
  model/Account.cpp
  model/Account.h
  services/BudgetData.cpp
  services/CMakeLists.txt
  services/EvolutionController.cpp
  services/EvolutionController.h
  services/ServiceForeigners.h
  tests/CMakeLists.txt
  tests/EvolutionControllerTest.cpp
  translations/comptine_fr.ts
  ui/common/Theme.qml
  ui/evolution/CMakeLists.txt
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Add AccountEditorTest
  tests/AccountEditorTest.cpp
  tests/CMakeLists.txt
Due: clang-format, check-translations

Add .op to .gitignore
  .gitignore
Due: none

squash! Add .op to .gitignore
  .gitignore
Due: none

wip
  .github/workflows/coverage.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Update test coverage
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Add OperationEditorTest
  tests/CMakeLists.txt
  tests/OperationEditorTest.cpp
Due: clang-format, check-translations

Add CategoryEditorTest
  tests/CMakeLists.txt
  tests/CategoryEditorTest.cpp
Due: clang-format, check-translations

Add RuleControllerTest
  tests/CMakeLists.txt
  tests/RuleControllerTest.cpp
  tests/RuleTest.cpp
Due: clang-format, check-translations

Add UndoCommandsTest
  tests/CMakeLists.txt
  tests/UndoCommandsTest.cpp
Due: clang-format, check-translations

Add AppSettingsTest
  tests/AppSettingsTest.cpp
  tests/CMakeLists.txt
Due: clang-format, check-translations

Add UpdateControllerTest
  tests/CMakeLists.txt
  tests/UpdateControllerTest.cpp
Due: clang-format, check-translations

Add TranslationManagerTest
  tests/CMakeLists.txt
  tests/TranslationManagerTest.cpp
Due: clang-format, check-translations

Add FileCoordinatorTest
  tests/CMakeLists.txt
  tests/FileCoordinatorTest.cpp
Due: clang-format, check-translations

AccountTest
  tests/AccountTest.cpp
  tests/CMakeLists.txt
Due: clang-format, check-translations

Add OperationTest
  tests/CMakeLists.txt
  tests/OperationTest.cpp
Due: clang-format, check-translations

Add CategoryControllerTest
  tests/CMakeLists.txt
  tests/CategoryControllerTest.cpp
Due: clang-format, check-translations

Separate workflow for pre-merge checks, including commit message policy and translation checks.
  .github/workflows/build.yml
  .github/workflows/pre-merge.yml
  .github/workflows/translations.yml
  .pre-commit-config.yaml
Due: none

Add qml tests
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/qml/tst_AmountField.qml
  tests/qml/tst_DateInput.qml
  tests/qml/tst_DateLabel.qml
  tests/qml/tst_Theme.qml
  tests/qmltests.cpp
  ui/common/CMakeLists.txt
  ui/operations/DateInput.qml
Due: clang-format, qmlformat, check-translations

Fix budget history issue
  services/UndoCommands.cpp
  services/UndoCommands.h
  tests/CategoryTest.cpp
Due: clang-format, check-translations

Improve AGENTS.md architecture and implementation quality guidelines
  AGENTS.md
Due: none

Fix translation script
  .github/workflows/translations.yml
  scripts/check-translations.sh
  translations/comptine_fr.ts
Due: check-translations

Improve tabulation style
  app/Main.qml
  ui/common/AppTabButton.qml
  ui/common/CMakeLists.txt
Due: qmlformat, check-translations
