Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Improve AGENTS.md with QML linting instructions
  AGENTS.md
Due: none

Add evolution view
  CMakeLists.txt
  FEATURES.md
  app/ApplicationMenuBar.qml
  app/CMakeLists.txt
  app/Main.qml
  app/ViewMenu.qml
  app/main.cpp
  model/Account.cpp
  model/Account.h
  services/BudgetData.cpp
  services/CMakeLists.txt
  services/CategoryController.cpp
  services/CategoryController.h
  services/EvolutionController.cpp
  services/EvolutionController.h
  services/ServiceForeigners.h
  tests/CMakeLists.txt
  tests/EvolutionControllerTest.cpp
  translations/comptine_fr.ts
  ui/common/Theme.qml
  ui/evolution/CMakeLists.txt
  ui/evolution/EvolutionCategoryHeaderDelegate.qml
  ui/evolution/EvolutionCellDelegate.qml
  ui/evolution/EvolutionMonthHeaderDelegate.qml
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Optimize account loading
  model/Account.cpp
  model/Account.h
  services/FileController.cpp
  tests/AccountTest.cpp
Due: clang-format, check-translations

Add summary and average columns to the evolution view
  FEATURES.md
  services/EvolutionController.cpp
  services/EvolutionController.h
  tests/EvolutionControllerTest.cpp
  translations/comptine_fr.ts
  ui/evolution/CMakeLists.txt
  ui/evolution/EvolutionSummaryHeaderDelegate.qml
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Add monthly sum row to evolution view
  FEATURES.md
  services/EvolutionController.cpp
  services/EvolutionController.h
  tests/EvolutionControllerTest.cpp
  translations/comptine_fr.ts
  ui/evolution/CMakeLists.txt
  ui/evolution/EvolutionMonthSumHeaderDelegate.qml
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Add search operation
  FEATURES.md
  app/ApplicationMenuBar.qml
  app/Main.qml
  app/ViewMenu.qml
  model/Account.cpp
  model/Account.h
  model/CMakeLists.txt
  model/OperationFilterModel.cpp
  model/OperationFilterModel.h
  tests/CMakeLists.txt
  tests/OperationFilterModelTest.cpp
  translations/comptine_fr.ts
  ui/operations/OperationList.qml
  ui/operations/OperationView.qml
Due: clang-format, qmlformat, check-translations

Sum report and average spent
  FEATURES.md
  services/EvolutionController.cpp
  services/EvolutionController.h
  tests/EvolutionControllerTest.cpp
  translations/comptine_fr.ts
  ui/evolution/EvolutionSummaryHeaderDelegate.qml
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Fix binding loop in BudgetView
  ui/budget/BudgetView.qml
Due: qmlformat, check-translations

Better budget limit history handling
  model/Category.cpp
  services/FileController.cpp
  services/UndoCommands.cpp
  services/UndoCommands.h
  tests/CategoryEditorTest.cpp
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
  tests/UndoCommandsTest.cpp
Due: clang-format, check-translations

Month can inherits previous budget limit
  FEATURES.md
  editor/CategoryEditor.cpp
  editor/CategoryEditor.h
  model/Category.cpp
  model/Category.h
  services/CategoryController.cpp
  services/EvolutionController.cpp
  services/EvolutionController.h
  services/FileController.cpp
  services/UndoCommands.cpp
  services/UndoCommands.h
  tests/CategoryControllerTest.cpp
  tests/CategoryEditorTest.cpp
  tests/CategoryTest.cpp
  tests/EvolutionControllerTest.cpp
  tests/FileControllerTest.cpp
  tests/UndoCommandsTest.cpp
  translations/comptine_fr.ts
  ui/budget/BudgetView.qml
  ui/budget/CategoryEditDialog.qml
  ui/evolution/EvolutionCellDelegate.qml
Due: clang-format, qmlformat, check-translations

Use hash to avoid unnecessary reloads
  services/FileController.cpp
  services/FileController.h
Due: clang-format, check-translations

Add S and R shortcuts to save and report available amounts
  FEATURES.md
  app/ApplicationMenuBar.qml
  app/Main.qml
  app/ViewMenu.qml
  translations/comptine_fr.ts
  ui/budget/BudgetView.qml
Due: qmlformat, check-translations

Improve operation edition
  ui/operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Fix translation script
  .github/workflows/translations.yml
  AGENTS.md
  scripts/check-translations.sh
  translations/comptine_fr.ts
Due: check-translations

Fix budget history issue
  services/UndoCommands.cpp
  services/UndoCommands.h
  tests/CategoryTest.cpp
Due: clang-format, check-translations

Improve AGENTS.md architecture and implementation quality guidelines
  AGENTS.md
Due: none

Improve tabulation style
  app/Main.qml
  ui/common/AppTabButton.qml
  ui/common/CMakeLists.txt
Due: qmlformat, check-translations

Add evolution view
  CMakeLists.txt
  FEATURES.md
  app/ApplicationMenuBar.qml
  app/CMakeLists.txt
  app/Main.qml
  app/ViewMenu.qml
  app/main.cpp
  model/Account.cpp
  model/Account.h
  services/BudgetData.cpp
  services/CMakeLists.txt
  services/CategoryController.cpp
  services/CategoryController.h
  services/EvolutionController.cpp
  services/EvolutionController.h
  services/ServiceForeigners.h
  tests/BudgetDataTest.cpp
  tests/CMakeLists.txt
  tests/EvolutionControllerTest.cpp
  tests/UndoCommandsTest.cpp
  translations/comptine_fr.ts
  ui/common/Theme.qml
  ui/evolution/CMakeLists.txt
  ui/evolution/EvolutionCategoryHeaderDelegate.qml
  ui/evolution/EvolutionCellDelegate.qml
  ui/evolution/EvolutionMonthHeaderDelegate.qml
  ui/evolution/EvolutionView.qml
Due: clang-format, qmlformat, check-translations

Improve operation edition
  tests/qml/tst_AmountField.qml
  ui/common/AmountField.qml
  ui/operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Fix issue updating operation and category not updating the views
  model/Account.cpp
  model/Operation.cpp
  model/Operation.h
  tests/AccountTest.cpp
  tests/OperationTest.cpp
Due: clang-format, check-translations

Use alt+up/alt+down to change the evolution metric
  app/ApplicationMenuBar.qml
  app/Main.qml
  app/ViewMenu.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Add S and R shortcuts to save and report available amounts
  ui/budget/BudgetView.qml
Due: qmlformat, check-translations

AGENTS.md document adding actions
  AGENTS.md
Due: none

Improve budget view
  app/ApplicationMenuBar.qml
  app/Main.qml
  app/ViewMenu.qml
  dummy.comptine
  services/CategoryController.cpp
  services/CategoryController.h
  tests/CategoryControllerTest.cpp
  translations/comptine_fr.ts
  ui/budget/BudgetProgress.qml
  ui/budget/BudgetView.qml
  ui/budget/MonthCategoryItem.qml
Due: clang-format, qmlformat, check-translations

Update qmllint command
  .github/workflows/build.yml
Due: none

Add a scrollbar to the rule edition dialog
  ui/rules/RuleEditDialog.qml
  ui/rules/RulesView.qml
Due: qmlformat, check-translations

Use coverage preset
  .github/workflows/coverage.yml
  .gitignore
  AGENTS.md
  CMakePresets.json
  README.md
  conanfile.py
  scripts/generate-coverage.sh
Due: none

Improve test coverage
  tests/CMakeLists.txt
  tests/ClipboardControllerTest.cpp
  tests/FileControllerTest.cpp
  tests/RuleControllerTest.cpp
  tests/RuleEditorTest.cpp
  tests/RuleTest.cpp
Due: clang-format, check-translations

Add Card ui component
  tests/qml/tst_Card.qml
  ui/budget/BudgetView.qml
  ui/common/CMakeLists.txt
  ui/common/Card.qml
  ui/operations/BalanceHeader.qml
  ui/operations/OperationDetails.qml
  ui/rules/RulesView.qml
Due: qmlformat, check-translations
