Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Simplify BudgetView layout
  Main.qml
  budget/BudgetView.qml
Due: qmlformat, check-translations

Fix bug showing release notes in UpdateDialog
  Main.qml
  UpdateDialog.qml
Due: qmlformat, check-translations

Remove unnecessary focus restoration code in OperationList.qml
  operations/OperationList.qml
Due: qmlformat, check-translations

Add AmountLabel
  budget/BudgetView.qml
  budget/CategoryDetailView.qml
  budget/MonthCategoryItem.qml
  commonui/AmountLabel.qml
  commonui/CMakeLists.txt
  operations/BalanceHeader.qml
  operations/OperationDelegate.qml
  operations/OperationDetails.qml
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Move Category tests to CategoryTest
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

Avoid editing operation date
  operations/DateInput.qml
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Improve CategoryDetailView
  Operation.h
  budget/CategoryDetailView.qml
Due: clang-format, qmlformat, check-translations

Use conan profiles
  .github/workflows/build.yml
  conan/profiles/linux
  conan/profiles/macos
  conan/profiles/windows
  conanfile.py
Due: none

Use custom conan presets
  .gitignore
  CMakePresets.json
  conanfile.py
Due: none

Improve current operation
  Account.cpp
  Account.h
  NavigationController.cpp
  NavigationController.h
  operations/OperationDetails.qml
  operations/OperationList.qml
  operations/OperationView.qml
Due: clang-format, qmlformat, check-translations

Remove OperationListModel
  Account.cpp
  Account.h
  AccountListModel.cpp
  AppState.cpp
  AppState.h
  ApplicationMenuBar.qml
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  ClipboardController.cpp
  ClipboardController.h
  EditMenu.qml
  FileController.cpp
  FileController.h
  FileMenu.qml
  HelpMenu.qml
  Main.qml
  NavigationController.cpp
  NavigationController.h
  OperationListModel.cpp
  OperationListModel.h
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  ViewMenu.qml
  budget/BudgetView.qml
  operations/OperationDetails.qml
  operations/OperationEditDialog.qml
  operations/OperationList.qml
  operations/OperationView.qml
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Remove AccountListModel
  AccountListModel.cpp
  AccountListModel.h
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  FileController.cpp
  UndoCommands.cpp
  UndoCommands.h
  operations/AccountComboBox.qml
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Bump to Qt 6.11.1
  .qt-version
Due: none

Use custom conan presets
  .github/workflows/build.yml
  conanfile.py
Due: none

Remove OperationListModel
  Account.cpp
  Account.h
  AccountListModel.cpp
  AppState.cpp
  AppState.h
  ApplicationMenuBar.qml
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  ClipboardController.cpp
  ClipboardController.h
  EditMenu.qml
  FileController.cpp
  FileController.h
  FileMenu.qml
  HelpMenu.qml
  Main.qml
  NavigationController.cpp
  NavigationController.h
  OperationListModel.cpp
  OperationListModel.h
  RuleController.cpp
  UndoCommands.cpp
  UndoCommands.h
  ViewMenu.qml
  budget/BudgetView.qml
  operations/CreateCounterPartDialog.qml
  operations/OperationDetails.qml
  operations/OperationEditDialog.qml
  operations/OperationList.qml
  operations/OperationView.qml
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Use contain instead of prefix for rule matching
  FileController.cpp
  Rule.cpp
  Rule.h
  RuleController.cpp
  RuleController.h
  RuleListModel.cpp
  RuleListModel.h
  UndoCommands.cpp
  UndoCommands.h
  operations/OperationEditDialog.qml
  rules/RuleEditDialog.qml
  rules/RulesView.qml
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Sort operation when loading from yaml file.
  FileController.cpp
Due: clang-format, check-translations

Fix delegate width issue in OperationEditDialog
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Fix comparaison for isCategorized
  Operation.cpp
Due: clang-format, check-translations

Use foreign
  AppSettings.h
  AppState.cpp
  AppState.h
  ApplicationMenuBar.qml
  CMakeLists.txt
  EditMenu.qml
  FileMenu.qml
  Foreigners.h
  ImportDialog.qml
  Main.qml
  PreferencesDialog.qml
  UpdateController.h
  UpdateDialog.qml
  ViewMenu.qml
  budget/BudgetView.qml
  commonui/AmountField.qml
  commonui/Theme.qml
  main.cpp
  operations/AccountComboBox.qml
  operations/CreateCounterPartDialog.qml
  operations/OperationEditDialog.qml
  operations/OperationView.qml
  operations/RenameAccountDialog.qml
  rules/RuleEditDialog.qml
  rules/RulesView.qml
Due: clang-format, qmlformat, check-translations

Use STATIC/NO_PLUGIN
  CMakeLists.txt
  budget/CMakeLists.txt
  operations/CMakeLists.txt
  rules/CMakeLists.txt
Due: none

Fix current balance compuration
  Account.cpp
  Account.h
  operations/OperationView.qml
Due: clang-format, qmlformat, check-translations

Navigate to previous and next uncategorized operations
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Remove NavigationController
  AppState.cpp
  AppState.h
  ApplicationMenuBar.qml
  BudgetData.cpp
  BudgetData.h
  CMakeLists.txt
  CategoryController.cpp
  CategoryController.h
  FileController.cpp
  FileController.h
  ImportDialog.qml
  Main.qml
  NavigationController.cpp
  NavigationController.h
  ViewMenu.qml
  budget/BudgetView.qml
  budget/MonthCategoryItem.qml
  operations/OperationEditDialog.qml
  operations/OperationView.qml
  tests/CategoryTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, qmlformat, check-translations

Allow editing date operation
  Main.qml
  operations/OperationEditDialog.qml
  operations/OperationView.qml
Due: qmlformat, check-translations

Fix import bad file
  FileController.cpp
  ImportDialog.qml
  Main.qml
Due: clang-format, qmlformat, check-translations

Add a search on google button next to the operation label
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Fix category selection after deletion
  CategoryController.cpp
Due: clang-format, check-translations

Allow operation with zero amount if it has allocations
  operations/OperationEditDialog.qml
Due: qmlformat, check-translations

Select first account / operation if none is selected in the file
  FileController.cpp
Due: clang-format, check-translations

Allow import prefix configuration
  Account.h
  ImportDialog.qml
Due: clang-format, qmlformat, check-translations

Deleting a category display the count of allocations
  Account.cpp
  Account.h
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  Main.qml
  tests/CategoryTest.cpp
Due: clang-format, qmlformat, check-translations

Allow case insensitive account selection during import
  BudgetData.cpp
  BudgetData.h
  ImportDialog.qml
Due: clang-format, qmlformat, check-translations

Fix clazy warning
  Account.cpp
Due: clang-format, check-translations

Simple allocation serialization
  FileController.cpp
Due: clang-format, check-translations

Add FUNDING.yml
  .github/FUNDING.yml
Due: none

Remove FUNDING.yml
  .github/FUNDING.yml
Due: none

Add funding information for GitHub and Liberapay
  .github/FUNDING.yml
Due: none
