Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

clang-format:
  name: clang-format
  entry: uv run clang-format -i
  language: system

qmlformat:
  name: qmlformat
  entry: qmlformat -i
  language: system

check-translations:
  name: check translations complete
  entry: ./scripts/check-translations.sh
  language: script
  pass_filenames: false

Improve lint job using git diff to check formatting
  .github/workflows/lint.yml
Due: none

Replace pyyaml by yamllint
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  pyproject.toml
  uv.lock
Due: none

Exclude .venv from linting
  .github/workflows/lint.yml
Due: none

Add GitHub Actions workflow for Jekyll deployment
  .github/workflows/jekyll-gh-pages.yml
Due: none

Add website
  .github/workflows/jekyll-gh-pages.yml
  README.md
  docs/.gitignore
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_layouts/default.html
  docs/assets/comptine.svg
  docs/assets/css/style.css
  docs/download.md
  docs/features.md
  docs/index.md
Due: none

Add french/english website
  docs/.gitignore
  docs/_data/navigation.yml
  docs/_data/strings.yml
  docs/_includes/download-card.html
  docs/_includes/feature-card.html
  docs/_includes/footer.html
  docs/_includes/nav.html
  docs/_includes/screenshot.html
  docs/_layouts/default.html
  docs/_layouts/download.html
  docs/_layouts/home.html
  docs/_layouts/page.html
  docs/assets/css/style.css
  docs/download.md
  docs/en/download.md
  docs/en/features.md
  docs/en/index.md
  docs/features.md
  docs/fr/download.md
  docs/fr/features.md
  docs/fr/index.md
  docs/index.md
Due: none

Add error for empty file
  FileController.cpp
  translations/comptine_fr.ts
Due: clang-format, check-translations

Handle dropbox online files on macOS
  CMakeLists.txt
  FileController.cpp
  FileCoordinator.h
  FileCoordinator.mm
  FileCoordinator_fallback.cpp
Due: clang-format, check-translations

Download link to the latest releases for macOS and Windows
  CMakeLists.txt
  docs/_config.yml
  docs/_includes/download-card.html
  docs/_layouts/download.html
  docs/en/download.md
  docs/fr/download.md
Due: none

Use current date as default for budget year/month if not specified
  FileController.cpp
Due: clang-format, check-translations

Use comptine-small.svg for favicon
  CMakeLists.txt
  docs/_layouts/default.html
  docs/assets/comptine-small.svg
Due: none

Update project page URL
  Main.qml
Due: qmlformat, check-translations

Improve layout for mobile navigation
  docs/_includes/nav.html
  docs/assets/css/style.css
Due: none

Add linux build
  .github/workflows/build.yml
  CMakeLists.txt
  comptine.desktop
  docs/en/download.md
  docs/fr/download.md
Due: none

Update example_long.comptine with latest version
  example_long.comptine
Due: none

Update allocation amount when editing total amount for single-category operations
  OperationEditDialog.qml
Due: qmlformat, check-translations

Sort operatioon after date change
  Account.cpp
  Account.h
  OperationEditDialog.qml
  OperationList.qml
  OperationListModel.cpp
  OperationListModel.h
  UndoCommands.cpp
Due: clang-format, qmlformat, check-translations

Improve current operation logic
  Account.cpp
  Account.h
  CategoryDetailView.qml
  FileController.cpp
  NavigationController.cpp
  NavigationController.h
  OperationList.qml
  OperationListModel.cpp
  OperationListModel.h
  UndoCommands.cpp
Due: clang-format, qmlformat, check-translations

Implement pointer-based multi-selection for operations
  Account.cpp
  Account.h
  FileController.cpp
  NavigationController.cpp
  NavigationController.h
  OperationList.qml
  OperationListModel.cpp
  OperationListModel.h
Due: clang-format, qmlformat, check-translations

Imrpove date selection behavior
  CMakeLists.txt
  DateSpinBox.qml
  OperationEditDialog.qml
Due: qmlformat, check-translations

All dialogs now share enter/escape key behavior
  AboutDialog.qml
  BaseDialog.qml
  CMakeLists.txt
  CategoryEditDialog.qml
  ImportDialog.qml
  OperationEditDialog.qml
  PreferencesDialog.qml
  UpdateDialog.qml
Due: qmlformat, check-translations

Edit operation description feature
  BudgetData.cpp
  BudgetData.h
  OperationDetails.qml
  OperationEditDialog.qml
  OperationView.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Use current date if loaded budget year/month is invalid
  NavigationController.cpp
Due: clang-format, check-translations

Clear categories when clearing budget data
  CategoryController.cpp
  FileController.cpp
Due: clang-format, check-translations

Update example_long.comptine
  example_long.comptine
Due: none

Fix icon generation using librsvg instead of ImageMagick
  .github/workflows/build.yml
  CMakeLists.txt
  README.md
Due: none

Sorting preserves order of same-date operations
  Account.cpp
  Account.h
  FileController.cpp
Due: clang-format, check-translations

Generate automatically screenshots in CI
  .github/workflows/build.yml
  .github/workflows/jekyll-gh-pages.yml
  .gitignore
  docs/en/index.md
  docs/fr/index.md
  scripts/capture-screenshots.sh
Due: none

Improve category: scroll bar and balance
  AmountField.qml
  OperationEditDialog.qml
  example_long.comptine
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Fix category clearing
  AppState.cpp
  BudgetData.cpp
  BudgetData.h
  FileController.cpp
Due: clang-format, check-translations

Reduce pointer usage
  AccountListModel.cpp
  AccountListModel.h
  AppState.cpp
  AppState.h
  BudgetData.cpp
  CategoryController.cpp
  ClipboardController.cpp
  ClipboardController.h
  FileController.cpp
  FileController.h
  TranslationManager.cpp
  TranslationManager.h
  UndoCommands.cpp
  UndoCommands.h
  UpdateController.cpp
  UpdateController.h
  main.cpp
Due: clang-format, check-translations

Add cash csv
  CsvParser.h
  tests/CsvParserTest.cpp
Due: clang-format, check-translations

Undoing import in a new account removes the account
  BudgetData.cpp
  BudgetData.h
  FileController.cpp
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, check-translations

Sorting category use proper locale-aware collation
  CategoryController.cpp
Due: clang-format, check-translations

Add missing categories from operations during file load/import
  FileController.cpp
  FileController.h
Due: clang-format, check-translations

Relative width for OperationDetails
  OperationView.qml
Due: qmlformat, check-translations

Display categories in the operation list
  OperationDelegate.qml
Due: qmlformat, check-translations

Increase window size for screenshot capture
  example_long.comptine
  scripts/capture-screenshots.sh
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  qmlformat: any of: \.qml$
  check-translations: any of: \.(qml|cpp|h|ts)$
