Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Add clang-tidy check
  .clang-tidy
  .github/workflows/lint.yml
  CMakeLists.txt
  CMakePresets.json
  README.md
Due: none

Fix clang-tidy violations
  app/main.cpp
  editor/CategoryEditor.cpp
  editor/OperationEditor.cpp
  editor/OperationEditor.h
  editor/RuleEditor.cpp
  model/Account.cpp
  model/Category.cpp
  model/Category.h
  model/Operation.cpp
  model/Operation.h
  services/AppSettings.cpp
  services/BudgetData.cpp
  services/CategoryController.cpp
  services/EvolutionController.cpp
  services/FileController.cpp
  services/RuleController.cpp
  services/RuleListModel.cpp
  services/UndoCommands.cpp
  services/UndoCommands.h
  services/UpdateController.cpp
  tests/BudgetDataTest.cpp
  tests/CategoryControllerTest.cpp
  tests/CategoryEditorTest.cpp
  tests/CategoryTest.cpp
  tests/EvolutionControllerTest.cpp
  tests/FileControllerTest.cpp
  tests/OperationEditorTest.cpp
  tests/OperationFilterModelTest.cpp
  tests/OperationTest.cpp
  tests/RuleControllerTest.cpp
  tests/RuleEditorTest.cpp
  tests/UndoCommandsTest.cpp
  tests/UpdateControllerTest.cpp
  ui/operations/OperationEditDialog.qml
Due: clang-format, qmlformat, check-translations

Add funding page
  docs/_data/navigation.yml
  docs/en/funding.md
  docs/fr/funding.md
Due: none

Improve auto-update mechanism
  .github/workflows/build.yml
  CMakeLists.txt
  CMakePresets.json
  FEATURES.md
  README.md
  app/ComptineUpdater.mm
  app/Main.qml
  app/UpdateDialog.qml
  app/cmake/macos.cmake
  conanfile.py
  docs/en/download.md
  docs/en/features.md
  docs/fr/download.md
  docs/fr/features.md
  scripts/create-update-manifest.py
  services/CMakeLists.txt
  services/UpdateController.cpp
  services/UpdateController.h
  tests/UpdateControllerTest.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

wip
  README.md
Due: none

Fix pre-merge check for work in progress commits
  .github/workflows/pre-merge.yml
Due: none

Fix release
  .github/workflows/build.yml
  app/ComptineUpdater.mm
  scripts/sign-macos-bundle.sh
  scripts/validate-macos-bundle.sh
Due: none

Add clang-tidy check and fix violations
  .clang-tidy
  .github/workflows/lint.yml
  CMakeLists.txt
  CMakePresets.json
  README.md
  app/main.cpp
  editor/CategoryEditor.cpp
  editor/OperationEditor.cpp
  editor/OperationEditor.h
  editor/RuleEditor.cpp
  model/Account.cpp
  model/Category.cpp
  model/Category.h
  model/Operation.cpp
  model/Operation.h
  services/AppSettings.cpp
  services/BudgetData.cpp
  services/CategoryController.cpp
  services/EvolutionController.cpp
  services/FileController.cpp
  services/RuleController.cpp
  services/RuleListModel.cpp
  services/UndoCommands.cpp
  services/UndoCommands.h
  services/UpdateController.cpp
  tests/BudgetDataTest.cpp
  tests/CategoryControllerTest.cpp
  tests/CategoryEditorTest.cpp
  tests/CategoryTest.cpp
  tests/EvolutionControllerTest.cpp
  tests/FileControllerTest.cpp
  tests/OperationEditorTest.cpp
  tests/OperationFilterModelTest.cpp
  tests/OperationTest.cpp
  tests/RuleControllerTest.cpp
  tests/RuleEditorTest.cpp
  tests/UndoCommandsTest.cpp
  tests/UpdateControllerTest.cpp
  ui/operations/OperationEditDialog.qml
Due: clang-format, qmlformat, check-translations

Add clazy check and fix violations
  .github/workflows/lint.yml
  CMakeLists.txt
  CMakePresets.json
  README.md
  Version.h.in
  app/main.cpp
  cmake/Clazy.cmake
  model/Account.cpp
  model/Operation.cpp
  services/CategoryController.cpp
  services/CsvParser.h
  services/EvolutionController.cpp
  services/FileController.cpp
  services/TranslationManager.cpp
  services/UndoCommands.cpp
  services/UpdateController.cpp
  tests/AccountEditorTest.cpp
  tests/AccountTest.cpp
  tests/AppSettingsTest.cpp
  tests/BudgetDataTest.cpp
  tests/CategoryControllerTest.cpp
  tests/CategoryEditorTest.cpp
  tests/CategoryTest.cpp
  tests/ClipboardControllerTest.cpp
  tests/CsvParserTest.cpp
  tests/EvolutionControllerTest.cpp
  tests/FileControllerTest.cpp
  tests/FileCoordinatorTest.cpp
  tests/OperationEditorTest.cpp
  tests/OperationFilterModelTest.cpp
  tests/OperationTest.cpp
  tests/RuleControllerTest.cpp
  tests/RuleEditorTest.cpp
  tests/RuleTest.cpp
  tests/TranslationManagerTest.cpp
  tests/UndoCommandsTest.cpp
  tests/UpdateControllerTest.cpp
  tests/qmltests.cpp
Due: clang-format, check-translations

wip
  .clang-tidy
  .github/workflows/lint.yml
  CMakeLists.txt
  CMakePresets.json
  README.md
  cmake/Clazy.cmake
Due: none

fixup! wip
  .github/workflows/lint.yml
Due: none

Fix LLVM tool paths in lint workflow
  .github/workflows/lint.yml
Due: none

Install clang-tidy in lint workflow
  .github/workflows/lint.yml
Due: none

Fix release workflow
  .github/workflows/build.yml
  scripts/sign-macos-bundle.sh
  scripts/validate-macos-dmg.sh
Due: none

Fix narrowing conversions in update controller
  services/UpdateController.cpp
Due: clang-format, check-translations

Fix Clazy string allocation warnings
  services/UpdateController.cpp
Due: clang-format, check-translations

Add uv to the build workfloW
  .github/workflows/build.yml
Due: none

Fix release order
  .github/workflows/build.yml
Due: none

Use Dockerfile
  .github/workflows/lint.yml
  README.md
  docker/analysis.Dockerfile
  scripts/analysis-docker.sh
Due: none

Auto close the app before installing on Windows
  services/UpdateController.cpp
Due: clang-format, check-translations

Fix download progress bar
  app/ComptineUpdater.mm
  app/UpdateDialog.qml
  services/UpdateController.cpp
  ui/common/BaseDialog.qml
Due: clang-format, qmlformat, check-translations

Add gpl v3 license
  LICENSE.md
  app/AboutDialog.qml
  cmake/packaging.cmake
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Silent windows update installer
  services/UpdateController.cpp
Due: clang-format, check-translations

Update GitHub Actions to latest versions
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Launch application after installation
  cmake/packaging/windows.cmake
Due: none

Fix deprecation warning for ComptineUpdater.mm
  app/ComptineUpdater.mm
Due: none

Add throttled_http_server.py script to serve files over HTTP with a configurable bandwidth limit.
  scripts/throttled_http_server.py
Due: none

Use common updater
  .github/workflows/build.yml
  FEATURES.md
  app/CMakeLists.txt
  app/ComptineUpdater.mm
  app/UpdateDialog.qml
  app/Updater.qml
  app/UpdaterController.cpp
  app/UpdaterController.h
  app/UpdaterMain.cpp
  app/cmake/macos.cmake
  app/cmake/windows.cmake
  services/UpdateController.cpp
  services/UpdateController.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Start after update
  app/UpdaterController.cpp
Due: clang-format, check-translations

Improve Updater
  app/Updater.qml
Due: qmlformat, check-translations

Improve update dialog
  app/Main.qml
  app/UpdateDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations

Add -/+ button to edit date
  translations/comptine_fr.ts
  ui/operations/DateInput.qml
Due: qmlformat, check-translations

Fix installation
  app/UpdateDialog.qml
Due: qmlformat, check-translations

Fix updater
  app/CMakeLists.txt
  app/Updater.qml
  app/UpdaterForeigners.h
  app/UpdaterMain.cpp
  app/cmake/macos.cmake
Due: clang-format, qmlformat, check-translations

Put the updater helper in the same directory as the main executable
  .github/workflows/build.yml
  app/cmake/macos.cmake
  services/UpdateController.cpp
Due: clang-format, check-translations

Bump to Qt 6.11.1
  .qt-version
Due: none
