Repository MartinDelille/Comptine: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qmlformat, check-translations

.pre-commit-config.yaml:

repos:
  # Common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # C++ formatting with clang-format (using uv-managed version)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: uv run clang-format -i
        language: system
        types_or: [c++, c]

  # QML formatting and translation checks
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat
        entry: qmlformat -i
        language: system
        files: '\.qml$'
        types: [file]

      - id: check-translations
        name: check translations complete
        entry: ./scripts/check-translations.sh
        language: script
        files: '\.(qml|cpp|h|ts)$'
        pass_filenames: false

Use url instead of file path
  FileController.cpp
  FileController.h
  Main.qml
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

[refacto] QUndoStack belong to AppState
  AmountField.qml
  AppState.cpp
  AppState.h
  BudgetData.cpp
  BudgetData.h
  CategoryController.cpp
  CategoryController.h
  FileController.cpp
  FileController.h
  Main.qml
  RuleController.cpp
  RuleController.h
Due: clang-format, qmlformat, check-translations

Add category
  BudgetView.qml
  CategoryController.cpp
  CategoryController.h
  CategoryEditDialog.qml
  Main.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

[refacto] Pass BudgetData references to controllers
  AppState.cpp
  CategoryController.cpp
  CategoryController.h
  NavigationController.cpp
  NavigationController.h
  RuleController.cpp
  RuleController.h
Due: clang-format, check-translations

No maximum for rule prefix length
  CategorizeDialog.qml
Due: qmlformat, check-translations

Factorize applyCategoryAndNext function in CategorizeDialog.qml
  CategorizeDialog.qml
Due: qmlformat, check-translations

Improve file import and navigation handling
  FileController.cpp
  ImportDialog.qml
  NavigationController.h
Due: clang-format, qmlformat, check-translations

Remove yq installation from MacOS workflow
  .github/workflows/build.yml
Due: none

Open website when new version is available
  UpdateController.cpp
  UpdateController.h
Due: clang-format, check-translations

[refacto] Use Category pointers instead of names
  Account.cpp
  BudgetData.cpp
  BudgetData.h
  BudgetView.qml
  CategorizationRule.cpp
  CategorizationRule.h
  CategoryController.cpp
  CategoryController.h
  CategoryDetailView.qml
  FileController.cpp
  FileController.h
  Operation.cpp
  Operation.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationListModel.cpp
  RuleController.cpp
  RuleController.h
  RuleListModel.cpp
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Simpler category navigation
  BudgetView.qml
  NavigationController.cpp
  NavigationController.h
Due: clang-format, qmlformat, check-translations

Navigation within Category and Budget Views
  BudgetView.qml
  CategoryDetailView.qml
Due: qmlformat, check-translations

FileControllerTest wip
  Account.h
  AccountListModel.h
  CMakeLists.txt
  CategorizationRule.h
  Category.h
  FileController.cpp
  FileController.h
  LeftoverListModel.h
  Operation.h
  OperationListModel.h
  RuleController.h
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

fixup! FileControllerTest wip
  FileController.cpp
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

wip
  CMakeLists.txt
Due: none

Unit test for FileController
  Account.h
  AccountListModel.h
  CMakeLists.txt
  CategorizationRule.h
  Category.h
  FileController.cpp
  FileController.h
  LeftoverListModel.h
  Operation.h
  OperationListModel.h
  RuleController.h
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

Add compile options for warnings and debug info
  AccountListModel.cpp
  CMakeLists.txt
  CategoryController.cpp
  FileController.cpp
  LeftoverListModel.cpp
  OperationListModel.cpp
  RuleListModel.cpp
  UndoCommands.cpp
  UndoCommands.h
Due: clang-format, check-translations

Improve CSV parsing
  CsvParser.h
  FileController.cpp
Due: clang-format, check-translations

Unit test for FileController
  Account.h
  AccountListModel.h
  CMakeLists.txt
  CategorizationRule.h
  Category.h
  CategoryController.cpp
  CategoryController.h
  FileController.cpp
  FileController.h
  LeftoverListModel.h
  Operation.h
  OperationListModel.h
  RuleController.h
  tests/CsvParserTest.cpp
  tests/FileControllerTest.cpp
Due: clang-format, check-translations

Use merge conflict detector action
  .github/workflows/lint.yml
Due: none

Use QAbstractListModel for CategoryController
  AppState.cpp
  AppState.h
  BudgetData.cpp
  BudgetView.qml
  CMakeLists.txt
  Category.cpp
  Category.h
  CategoryController.cpp
  CategoryController.h
  CategoryDetailView.qml
  DateLabel.qml
  FileController.cpp
  FileController.h
  LeftoverDialog.qml
  LeftoverListModel.cpp
  LeftoverListModel.h
  MonthSelector.qml
  NavigationController.cpp
  NavigationController.h
  UndoCommands.cpp
  UndoCommands.h
  tests/FileControllerTest.cpp
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Move appVersion and appCommitHash to AppState
  AboutDialog.qml
  AppState.h
  BudgetData.cpp
  BudgetData.h
  PropertyMacros.h
Due: clang-format, qmlformat, check-translations

Fix operation categorization
  CategorizeDialog.qml
  OperationListModel.cpp
  RuleEditDialog.qml
Due: clang-format, qmlformat, check-translations

Rework Operation Editing
  BudgetData.cpp
  BudgetData.h
  OperationDelegate.qml
  OperationDetails.qml
  OperationEditDialog.qml
  OperationView.qml
Due: clang-format, qmlformat, check-translations

Recall window size and position
  AppSettings.cpp
  AppSettings.h
  Main.qml
Due: clang-format, qmlformat, check-translations

Add operations manually
  BudgetData.cpp
  BudgetData.h
  Main.qml
  Operation.cpp
  Operation.h
  OperationEditDialog.qml
  OperationView.qml
  UndoCommands.cpp
  UndoCommands.h
  translations/comptine_fr.ts
Due: clang-format, qmlformat, check-translations

Operation can have multiple allocations to the same category
  OperationEditDialog.qml
  translations/comptine_fr.ts
Due: qmlformat, check-translations
